/* @import "./fonts.scss"; */

* {
  position: relative;
  box-sizing: border-box;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

html,
body {
  font-family: "SF Pro Display", "San Francisco", "Segoe UI", Tahoma, Geneva,
    Verdana, sans-serif;
  height: 100%;
}

.is-pulled-right {
  text-align: right;
}

body html {
  margin: 0;
  padding: 0;
}
